%link#bootstrap-css{:href => "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", :rel => "stylesheet"}/
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
%script{:src => "//code.jquery.com/jquery-1.11.1.min.js"}
%link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}/
%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => "/"} Home
    %li.breadcrumb-item
      %a{:href => "/teachers"} Teacher
    %li.breadcrumb-item
      %a{:href => "/users/sign_in"} Login
    %li.breadcrumb-item.active{"aria-current" => "page"} Sign Up
.container{:style => "margin-right: -190px;"}
  .omb_login
    %h3.omb_authTitle
      Sign Up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .row.omb_row-sm-offset-3
        .col-xs-12.col-sm-6
          %form.omb_loginForm{:action => "", :autocomplete => "off", :method => "POST"}
            .input-group
              %span.input-group-addon
                %i.fa.fa-user
              = f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", placeholder: "please give valid Email address"
            %span.help-block
            .input-group
              %span.input-group-addon
                %i.fa.fa-lock
              = f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "please give password for your account"
            %span.help-block
            .input-group
              %span.input-group-addon
                %i.fa.fa-lock
              = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", placeholder: "please confirm your password"
            %span.help-block
            = f.submit "Sign up", :class => "btn btn-primary btn-block"
